<form
  (ngSubmit)="onSubmit()"
  [formGroup]="form"
  class="flex w-full flex-col gap-10"
>
  <label for="" class="flex flex-col gap-4 text-xl font-semibold">
    Email
    <input
      class="w-full rounded-lg border border-zinc-600 bg-transparent px-4 py-3 text-lg"
      formControlName="email"
      placeholder="email"
      type="text"
    />
  </label>

  <label for="" class="flex flex-col gap-4 text-xl font-semibold">
    Password
    <div class="relative">
      <input
        class="relative z-0 w-full rounded-lg border border-zinc-600 bg-transparent px-4 py-3 text-lg"
        formControlName="password"
        placeholder="password"
        [type]="isPasswordVisible() ? 'text' : 'password'"
      />
      <button
        (click)="isPasswordVisible.set(!isPasswordVisible())"
        class="absolute right-4 top-1/4 z-10"
        [class.active]="isPasswordVisible()"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M22 12C22 12 19 18 12 18C5 18 2 12 2 12C2 12 5 6 12 6C19 6 22 12 22 12Z"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
          />
          <circle
            cx="12"
            cy="12"
            r="3"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
          />
        </svg>
      </button>
    </div>
  </label>

  <div class="flex flex-col justify-center gap-5">
    <button
      class="rounded-lg bg-indigo-600 p-4 text-xl font-bold transition-colors duration-500 hover:bg-white hover:text-indigo-600"
      type="submit"
    >
      Login
    </button>

    <button
      routerLink="/"
      class="h-full w-full rounded-lg border-2 border-indigo-500 bg-transparent p-4 text-xl font-bold text-indigo-600 transition-colors duration-500 hover:bg-white hover:text-indigo-600"
      type="button"
    >
      Return home
    </button>
  </div>
</form>
